[AFC]
VarFile: /home/absak/printer_data/config/AFC/AFC.var   # Path to the variables file for AFC configuration.

#--=================================================================================-
#------- Speed ----------------------------------------------------------------------
#--=================================================================================-
long_moves_speed: 125           # mm/s. Default value is 150mm/s.
long_moves_accel: 250           # mm/s². Default value is 250mm/s².
short_moves_speed: 50           # mm/s. Default value is 50mm/s.
short_moves_accel: 300          # mm/s². Default value is 300mm/s².
short_move_dis: 10              # Move distance for failsafe moves. Default is 10mm.

#--=================================================================================-
#------- Pause/Resume ---------------------------------------------------------------
#--=================================================================================-
z_hop: 5                        # Height to move up before and after a tool change completes
resume_speed: 350               # Speed mm/s of resume move. Set to 0 to use gcode speed
resume_z_speed: 100             # Speed mm/s of resume move in Z. Set to 0 to use gcode speed


#--=================================================================================-
#------- Spoolman -------------------------------------------------------------------
#--=================================================================================-
# spoolman_ip: http://spoolman.local    # Spoolman IP address.
# spoolman_port: 7912                   # Spoolman port.



######### LED Settings ################################################################
#--=================================================================================--#
led_name: AFC_Indicator         # LED name from the [AFC_led] section in AFC_Hardware.cfg.
led_fault: 0.3,0,0,0            # Fault color             (R,G,B,W) 0 = off, 1 = full brightness.
led_ready: 0,0.24,0,0          # Ready color             (R,G,B,W) 0 = off, 1 = full brightness.
led_not_ready: 0.3,0,0,0       # Not ready color         (R,G,B,W) 0 = off, 1 = full brightness.
led_loading: 0.3,0.3,0.3,0     # Loading color           (R,G,B,W) 0 = off, 1 = full brightness.
led_tool_loaded: 0,0,0.3,0     # Loaded color            (R,G,B,W) 0 = off, 1 = full brightness.
led_buffer_advancing: 0,0,0.3,0 # Buffer advancing color  (R,G,B,W) 0 = off, 1 = full brightness.
led_buffer_trailing: 0,0.3,0,0  # Buffer trailing color   (R,G,B,W) 0 = off, 1 = full brightness.
led_buffer_disable: 0,0,0,0.075 # Buffer disable color    (R,G,B,W) 0 = off, 1 = full brightness.

#--=================================================================================-
#------- Macro Config ---------------------------------------------------------------
#--=================================================================================-
# Macro order of operation
# - Load               |   - Unload
#   - Load Filament    |    - Cut
#   - Poop             |    - Park
#   - Wipe             |    or
#   - Kick             |    - Park
#   - Wipe             |    - Tip Form
#   - Print            |

# TOOL Cutting Settings
tool_cut: False # Enable Cut macro.
tool_cut_cmd: AFC_CUT           # Cut macro name.

# Park Settings
park: True # Enable Park.
park_cmd: AFC_PARK              # Park macro name.

# Poop Settings
poop: False # Enable Poop.
poop_cmd: AFC_POOP              # Poop macro name.

# Kick Settings
kick: False # Enable Kick.
kick_cmd: AFC_KICK              # Kick macro name.

# Wipe Settings
wipe: False # Enable Wipe.
wipe_cmd: false             # Wipe macro name.

# Form Tip Settings
form_tip: True # Enable Tip Form.
form_tip_cmd: FORM_TIP               # AFC is default routine. Name to custom macro if you prefer


#--=================================================================================-
#------- Start-up -------------------------------------------------------------------
#--=================================================================================-
[AFC_prep]
enable: True                    # Enable the AFC Prep routine.

[delayed_gcode welcome]
initial_duration: 0.5
gcode:
 PREP


[gcode_macro FORM_TIP]
gcode:
      SAVE_GCODE_STATE NAME=FORMTIPSTATE
      G91
      G0 E15 F360
      G0 E5 F3600
      G0 E-22 F3600
      G0 E2 F300
      G0 E-2.1 F300
      G0 E2 F300
      G0 E-2.2 F300
      G0 E2 F300
      G0 E-2.3 F300
      G0 E2 F300
      G0 E-2.4 F300
      G0 E2 F300
      G0 E-2.5 F300
      G0 E2 F300
      G0 E-43 F300
      G90
      RESTORE_GCODE_STATE NAME=FORMTIPSTATE

