[mcu AFC]
#canbus_uuid: change_me_to_canbus_id
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_300011001450425539393020-if00

# Uncomment the include for the current board type you are using


[include mcu/MMB_1.0.cfg]
#[include mcu/MMB_1.1.cfg]

[force_move]
enable_force_move: True

[temperature_sensor AFC]
sensor_type: temperature_mcu
sensor_mcu: AFC

[AFC_stepper leg1]
unit: Turtle_1:1
extruder: extruder
step_pin: AFC:PB15
dir_pin: AFC:PB14
enable_pin: !AFC:PA8
microsteps: 16
rotation_distance: 4.65
dist_hub: 140
park_dist: 10
led_index: AFC_Indicator:1
afc_motor_rwd: !AFC:PB2
prep: !AFC:TRG1
load: AFC:EXT1

[tmc2209 AFC_stepper leg1]
uart_pin: AFC:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg2]
unit: Turtle_1:2
extruder: extruder
step_pin: AFC:PD2
dir_pin: AFC:PB13
enable_pin: !AFC:PD1
microsteps: 16
rotation_distance: 4.65
dist_hub: 80
park_dist: 10
led_index: AFC_Indicator:2
afc_motor_rwd: !AFC:PA0
prep: !AFC:TRG2
load: AFC:EXT2

[tmc2209 AFC_stepper leg2]
uart_pin: AFC:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg3]
unit: Turtle_1:3
extruder: extruder
step_pin: AFC:PD0
dir_pin: AFC:PD3
enable_pin: !AFC:PA15
microsteps: 16
rotation_distance: 4.65
dist_hub: 80
park_dist: 10
led_index: AFC_Indicator:3
afc_motor_rwd: !AFC:PB10
prep: !AFC:TRG3
load: AFC:EXT3

[tmc2209 AFC_stepper leg3]
uart_pin: AFC:PC6
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg4]
unit: Turtle_1:4
extruder: extruder
step_pin: AFC:PB6
dir_pin: AFC:PB7
enable_pin: !AFC:PB5
microsteps: 16
rotation_distance: 4.65
dist_hub: 140
park_dist: 10
led_index: AFC_Indicator:4
afc_motor_rwd: !AFC:PA1
prep: !AFC:PB8                      # This is the Lane Trigger Sensor
load: AFC:PB12   

[tmc2209 AFC_stepper leg4]
uart_pin: AFC:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110


[AFC_extruder extruder]
pin_tool_start: ^nhk:gpio3 
#pin_tool_end: 
tool_stn: 82                    # Distance from the toolhead sensor to the tip of the nozzle in mm.
tool_stn_unload: 100            # Unload distance for the toolhead in mm.
tool_sensor_after_extruder: 0   # Distance in mm.
tool_unload_speed: 25           # Unload speed in mm/s. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s. Default is 25mm/s.
# buffer: TN2                    # Buffer to use (if available)
buffer: Belay

[AFC_hub Turtle_1]
Type: Box_Turtle
afc_bowden_length: 1150          # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                    # Distance to move the filament within the hub in mm.
cut: False                      # Hub has Cutter
#--=================================================================================--
#------- Hub Cut ---------------------------------------------------------------------
#--=================================================================================--
cut_cmd: AFC                    # CMD to use
cut_dist: 200                   # How much filament to cut off (in mm).
cut_clear: 120                  # How far the filament should retract back from the hub (in mm).
cut_servo_name: cut             # Servos name in configuration to use
cut_min_length: 300.0
cut_servo_pass_angle: 10        # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180       # Servo angle for cutting the filament.
cut_servo_prep_angle: 80        # Servo angle to prepare the filament for cutting (aligning the exit hole).
switch_pin: AFC:PB11

[AFC_led AFC_Indicator]
pin: AFC:RGB1
chain_count: 4
color_order: RGBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.2

[AFC_buffer Belay]
pin: ^!PB14 
distance: 12
velocity: 1000
accel: 1000
