####################################################################################
#	Macros
####################################################################################

## Virtual SD Card                  
[virtual_sdcard]                    
path: ~/printer_data/gcodes                

# Pause/Resume Functionality
[pause_resume]

[display_status]


[gcode_macro G32]
gcode:

    status_homing
    G28
    STATUS_CALIBRATING_Z
    CLEAN_NOZZLE
    QUAD_GANTRY_LEVEL
    status_homing
    G28
    G0 X47.50 Y250 Z30 F3600

[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}
    

#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set target_tool = params.TOOL|default(0)|int %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  SET_GCODE_OFFSET Z=0                                 # Set offset to 0
  SET_FAN_SPEED FAN=controller_fan SPEED=1 #setting the fans to : i won't cook my TSMC
  C_LED_5
  BACKUP_CFG

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position
  G1 x39 y297 F3000  # place toolhead under nozzle wipper
  STATUS_HEATING
  SKEW_PROFILE LOAD=CaliFlowe

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    M106 S255                                           # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turn on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  STATUS_LEVELING                                      # Set LEDs to leveling-mode
  G1 x39 y297 F3000  # place toolhead under nozzle wipper
  CLEAN_NOZZLE
  QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  CARTOGRAPHER_TOUCH                                    # Calibrate z offset only with hot nozzle
  
  CLEAN_NOZZLE
  G1 x39 y297 F3000  # place toolhead under nozzle wipper

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  STATUS_HEATING
  Smart_Park
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp
  # Gets ready to print by doing a purge line and updating the SB-leds
  T{target_tool}
  STATUS_PRINTING
  C_LED_100
  LINE_PURGE


#####################################################################
#   print_end macro
#####################################################################
[gcode_macro PRINT_END]
gcode:     
    M400                           # wait for buffer to clear
    G92 E0                         # zero the extruder
    G1 E-7 F1800                   # retract filament
    G91                            # incremental positioning
    G0 Z10                         # move away from print
    G90                            # absolute positioning
    status_part_ready
    G1 x39 y297 F3000  # place toolhead under nozzle wipper
    G0 Z50                        # move nozzle up for inspection
    G0 X70 Y300 F2000
	G92 E0
    M140 S0
    M104 S0
    M106 S0
    BEDFANSFAST
    SET_SKEW CLEAR=1
    



[gcode_macro SET_TEMPERATURE_LED]
description: Set one or more neopixels to track a temperature
gcode:
  {% set sensor = params.SENSOR|default('heater_bed') %}
  {% set cool_temp = params.COOL_TEMP|default(22.0)|float %}
  {% set hot_temp = params.HOT_TEMP|default(107)|float %}
  {% set brightness = params.BRIGHTNESS|default(1.0)|float %}
  {% set led = params.LED %}
  {% set index = params.INDEX %}
  SET_LED_TEMPLATE LED={led}{% if index is defined %} INDEX={index}{% endif %} TEMPLATE=temperature_color param_sensor="'{sensor}'" param_cool_temp={cool_temp} param_hot_temp={hot_temp} param_brightness={brightness}


[gcode_macro CLEAR_TEMPERATURE_LED]
description: Set one or more neopixels to stop tracking a temperature and return to normal operation
gcode:
  {% set led = params.LED %}
  {% set index = params.INDEX %}
  SET_LED_TEMPLATE LED={led}{% if index is defined %} INDEX={index}{% endif %} TEMPLATE=

[gcode_macro LOAD_FILAMENT]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      {% set current_temperature = printer.extruder.temperature %}
      {% if current_temperature > 150 %}
        # Turn on part cooling fan if hotend temperature is above 150°C and printer is not homed
        M106
      {% endif %}
      G28
      G1 x47.50 y292 F3000
      M109 S260
      # Extrude 100 mm
      FILAMENT_INSERT_CONFIRMATION
      G1 E25 F450
      G1 E5 F1800
      G1 E15 F1200
      G4 P1000
      G1 E10 F300
      G1 75 F3150
      G1 75 F3150
      # Reset extruder position
      G92 E0
      CLEAN_NOZZLE
    {% else %}
      # Reset extruder position
      M109 S260
      # Extrude 100 mm
      FILAMENT_INSERT_CONFIRMATION
      G1 E5 F450
      G1 E5 F1800
      G1 E15 F1200
      G4 P1000
      G1 E10 F300
      G1 E150 F3150
      # Reset extruder position
      G92 E0
      CLEAN_NOZZLE
    {% endif %}


    
[gcode_macro LOAD_CLEANING_FILAMENT]
gcode:
# Reset extruder position
    G0 X20 Y300 F2000
    M109 S295
	# Extrude 600 mm
	G0 E15 F300
	G0 E-15 F150
	G0 E15 F300
	G0 E-15 F150
    G0 E15 F300
	G0 E-15 F150
    G0 E15 F300
	G0 E-15 F150
    G0 E15 F300
	G0 E-15 F150
    G0 E15 F300
	G0 E-15 F150


[gcode_macro PURGE]
gcode:
# Reset extruder position
    clean_nozzle
    G0 E100 F300

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
      {% set current_temperature = printer.extruder.temperature %}
      {% if current_temperature > 150 %}
        # Turn on part cooling fan if hotend temperature is above 150°C and printer is not homed
        M106
      {% endif %}
      G28 XY
      M83   
      M109 S260
  	# Extrude 100 mm
      G0 E10 F450
      G0 E-5 F1800
      G1 E-15 F1200
      G4 P1000
      G1 E-10 F300
      G0 E-150 F3150
  	# Reset extruder position
      G92 E0
      SONG_SINGLE_BEEP
    {% else %}
      M83   
      M109 S260
  	# Extrude 100 mm
      G0 E5 F450
      G0 E-5 F1800
      G1 E-15 F1200
      G4 P1000
      G1 E-10 F300
      G0 E-75 F3150
  	# Reset extruder position
      G92 E0
      SONG_SINGLE_BEEP
    {% endif %}





[gcode_macro M0]
gcode:
    PAUSE

[gcode_macro toolhead_middle]
gcode:
  G0 x150 y150 z150 F2000


[gcode_macro preHeatBed]
gcode:
  M140 S110
  G4 S3600
  C_LED_0





